<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Consulta autorización médica
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="toggleIndicator()">
  <!--companies-dropdown (onCompanyChange)="updateList($event)"></companies-dropdown-->

  <ng-container >
    <ion-card class="positiva-card text-center" *ngFor="let request of requests">
      <ion-card-content>
        <p>
          <strong class="color1">Número: </strong>
          <strong class="color2">{{ request.numeroSolicitud || 'PENDIENTE' }}</strong>
        </p>
        <p>
          <strong class="color1">Estado: </strong>
          <strong class="color2">{{ request.estado }}</strong>
        </p>
        <p>
          <strong class="color1">Fecha solicitud: </strong>
          <strong class="color2">{{ request.fechaSolicitud | date:'dd/MM/yyyy' }}</strong>
        </p>

        <ion-grid *ngIf="request.numeroSolicitud">
          <ion-row>
            <ion-col  col-6 [ngClass]="{'fullCol':(request.estado === 'TRAMITADA' && request.serviciosSolicitados[0].evaluado)}">
              <button class="primary-button buttons-consulta-especializada"  ion-button (click)="openServices(request)">Ver</button>
            </ion-col>

            <ion-col col-6 *ngIf="request.estado === 'TRAMITADA' && !request.serviciosSolicitados[0].evaluado">
              <button class="secondary-button buttons-consulta-especializada"  ion-button (click)="evaluateServices(request)">Evaluar</button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <button *ngIf="!request.numeroSolicitud" ion-button clear full disabled>Servicios pendientes</button>


      </ion-card-content>
    </ion-card>

    <div class="fixed-indicator" [hidden]="!scrollIndicator">
      <ion-icon name="arrow-down"></ion-icon>
    </div>
  </ng-container>

  <div class="center text-center" *ngIf="requests && requests.length === 0">
    <ion-card class="positiva-card">
      <ion-card-header>
        <strong class="color2">{{usuario.primerNombre}} {{usuario.segundoNombre}}</strong>
      </ion-card-header>
      <ion-card-content class="color2">
        No tienes solicitudes asociadas
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
