page-consulta-autorizacion-medica {
  .center {
    display: block !important;
    margin: 2em auto;
  }

  .text-center {
    text-align: center;
  }

  .fullCol{
         -webkit-box-flex: none!important;
    -ms-flex: none!important;
     flex: none!important ;
    width: 100%;
    max-width: 100%!important;
  }

  .buttons-consulta-especializada{
    width: 100%;
    margin-top: 0;
  }
}
