page-login {
  .mensajeSecundarioBienvenida {
    text-align: center;
  }

  .icon {
    font-size: 21px;
  }

  .recuperarClave {
    margin-top: 1em;
  }

  .scroll-content{
    padding-bottom: 0px!important;
  }

  .back-login {
    margin-top: 0;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 50px !important;
    height: 50px;
    background-color: transparent !important;
    box-shadow: none !important;
    z-index: 100000;
    color: #ff7500 !important;
  
    ion-icon {
      font-size: 27px;
      color: #ff7500 !important;
    }
  }
}
