<ion-content padding>
  <!--div class="video-background">
    <video id="video-bg" src="assets/videos/bg-video.mp4" autoplay muted loop playsinline></video>
  </div-->
  <div
    class="background positiva-active-home"
    [ngClass]="{ 'positiva-active-home': activeHome }"></div>

  <button ion-button class="back-login" (click)="goBack()" *ngIf="validated">
    <ion-icon name="arrow-back"></ion-icon>

  </button>

  <div class="wrapper">
    <div class="logo">
      <img src="assets/icon/LogoPositivaNaranja.svg" alt="">

      <!--button *ngIf="fingerprintService.hasId && fingerprintService.hasData" ion-button class="primary-button" style="margin-top: 4em" (click)="AccessFingerprint()">Fingerprint</button-->

    </div>

    <div class="main-container">
      <h1 class="main-title"> Inicio de Sesión </h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!validated">
        <ion-item class="custom-item form-item" >
            <img src="assets/icon/document.svg" width="20" item-start>

          <ion-select class="custom-input form-select" name="identification-type"
          [(ngModel)]="model.tipo_documento" [ngModelOptions]="{standalone: true}" >
            <ion-option value="CC">Cédula de ciudadanía</ion-option>
            <ion-option value="CE">Cédula de extranjería</ion-option>
            <ion-option value="PA">Pasaporte</ion-option>
            <!--ion-option value="RC">Registro civil</ion-option-->
            <ion-option value="TI">Tarjeta de identidad</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="custom-item form-item">
          <img src="assets/icon/document-number.svg" width="23" item-start>
          <ion-input formControlName="identificationInput" [(ngModel)]="model.numero"
          placeholder="Número de identificación" class="custom-input"
           name="identification-number"
             type="number" ></ion-input>
        </ion-item>


        <div *ngIf="loginForm.controls.identificationInput.invalid && (loginForm.controls.identificationInput.dirty || loginForm.controls.identificationInput.touched)" class="alert alert-danger">
          <p color="danger" *ngIf="loginForm.controls.identificationInput.errors.required">
            Ingresa valores permitidos
          </p>
          <p *ngIf="loginForm.controls.identificationInput.errors.minlength">
            Hacen falta valores numéricos
          </p>
        </div>

        <button ion-button type="submit" class="primary-button" style="margin-top: 4em">Acceder</button>
      </form>

      <form [formGroup]="passwordForm" (ngSubmit)="enter()" *ngIf="validated">
        <ion-item class="custom-item form-item">
          <img src="assets/icon/password.svg" width="21" item-start>
          <ion-input formControlName="passwordInput" class="custom-input" placeholder="Contraseña"
           autocomplete="off" name="password" type="password" [(ngModel)]="model.password"  ></ion-input>
        </ion-item>

        <div class="alert alert-danger" class="custom-item"
        *ngIf="passwordForm.controls.passwordInput.invalid && (passwordForm.controls.passwordInput.dirty || passwordForm.controls.passwordInput.touched)">
          <p color="danger" ion-text
          *ngIf="passwordForm.controls.passwordInput.errors.required">Agrega la contraseña</p>
          <p color= "danger" ion-text
          *ngIf="passwordForm.controls.passwordInput.errors.minlength">Completa la contraseña </p>
        </div>

        <div class="recuperarClave">
          <a block (click)="recuperarClave()"> ¿Olvidaste tu contraseña? </a>
        </div>

        <button ion-button class="primary-button" style="margin-top: 4em">Acceder</button>
      </form>
    </div>
  </div>
</ion-content>
