<ion-header>
  <ion-toolbar class="positiva-modal-toolbar">
    <ion-title>No. solicitud: {{ request.numeroSolicitud }}</ion-title>

    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let service of request.serviciosSolicitados" style="text-align: center">
      <p>
          <strong class="color1">Servicio: <br>
            <span class="color2" style="white-space: normal">
              {{ service.descripcion }}
            </span>
          </strong>
      </p>

      <p style="margin-top: 2.5em">
        <strong class="color1">
       <a *ngIf="service.movimientos[0]?.nombreProveedor">
          Proveedor: <span class="color2">{{ service.movimientos[0].nombreProveedor }}</span><br>
       </a>   
          Estado: <span class="color2">{{ service.movimientos[0].tipoMovimiento === 'APPROVED' ? 'APROBADO' : 'RECHAZADO' }}</span><br>
          Cantidad: <span class="color2">{{ service.movimientos[0].cantidad }}</span><br>
          No. Autorización: <span class="color2">{{ service.movimientos[0].numeroAutorizacionNegacion }}</span>
        </strong>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
