<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Carné de afiliación
  </ion-toolbar>
</ion-header>

<ion-content class="carnet">

 

  <div class="wrapper" *ngIf="showCarnet" style="padding: 13px!important">
    <div class="relative-container">
      <img class="imgCarnet" [src]="imgFront" width="340" height="212">

      <div class="user-info">
        <p>

          {{ datosUsuario.nombresPersona }}<br>
          {{ datosUsuario.apellidosPersona }}<br>
          {{ datosUsuario.numDocPersona }}<br>
          Estado: <strong>{{ datosUsuario.estadoPersona }}</strong>
        </p>
      </div>

      <div class="company-info" >
        <p *ngIf="datosUsuario.tipoDocEmpleador!='' && datosUsuario.tipoDocEmpleador!=' '">
          <strong>{{ relacionLaboral.razonSocial }}</strong><br>
          Nit {{ relacionLaboral.numeroDocumento }}
        </p>
      </div>

      <div class="vality-info">
        <p>
          <strong>Válido hasta:</strong><br>
          {{ vigencia }}
        </p>
      </div>
    </div>

    <div class="relative-container">
      <img class="imgCarnet" [src]="imgBack" width="340" height="212">


      <div class="phone1">
        <div class="row">


            <p>{{  phonesNumbers[1] }}</p>



        </div>


      </div>
      <div class="phone2">
          <div class="row">


              <p>{{ phonesNumbers[0]  }}</p>



          </div>


        </div>
      <div class="phone3">
          <div class="row">


              <p>{{ infoCarnet.phone_2 }}</p>



          </div>


        </div>
        <div class="phone4">
            <div class="row">


                <p>{{  infoCarnet.phone_1 }}</p>



            </div>


          </div>
      <!--div class="phone--2">
            <p>{{ infoCarnet.phone_2 }}</p>
          </div-->
       <!--div class="row">
          <div class="phone--2">
            <p>{{ phonesNumbers[0] }}</p>
          </div>

          <div class="phone--1">
            <p>{{ phonesNumbers[1] }}</p>
          </div>
        </div-->
    </div>
  </div>
</ion-content>
