page-carnet {

  #wrapper {
    width: 100%;
    height: 20px;
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .button {
    top: 15px;
    background-color: #ff7500;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carnet {
    font-size: 13px;
  }

  .relative-container {
    position: relative;
  }

  .user-info {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 10px;
  }

  .company-info {
    position: absolute;
    font-size: 10px;
    bottom: 50px;
    left: 30px;
    width: 100px;
    text-transform: uppercase;
  }

  .advice-note {
    position: absolute;
    top: 21%;
    left: 8%;
    right: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 70%;
  }

  .phone1 {
    position: relative;
    left: 220px;
    color: white;
    bottom: 185px;

  }
  .phone2 {
    position: relative;
    left: 270px;
    color: white;
    bottom: 204px;
    font-size: 8px;

  }

  .phone3{
    position: relative;
    left: 220px;
    color: white;
    bottom: 174px;
  }

  .phone4{
    position: relative;
    left: 220px;
    color: white;
    bottom: 174px;
  }



  .phones > :first-child {
    margin-bottom: .4em;
  }

  .phones > :last-child {
    margin-left: 1em;
  }

  .row {
    display: flex;
    width: 100%;
  }

  .imgCarnet{
    width:340px!important;
    height:212px!important;
    min-width: 340px!important;
  }



  .phone--2 {
    text-align: center;
    width: 55%;
  }

  .vality-info {
    position: absolute;
    left: 240px;
    bottom: 30px;
    font-size: 10px;
    text-align: right;
    color: #fff;
  }
}
