<ion-content padding>
  <div class="background positiva-active-home"></div>

  <button ion-button class="back-login" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <div class="wrapper">
    <div class="logo">
      <img src="assets/icon/LogoPositivaNaranja.svg" alt="">
    </div>

    <div class="main-container">
      <h1 class="main-title">Registro</h1>
      <form >
        <ion-item class="custom-item form-item">
                 <ion-input name="tipo_documento"  type="text" disabled [value] = 'user.tipo_documento' ></ion-input>
        </ion-item>
        <ion-item class="custom-item form-item">
                <ion-input name="numero_cedula" type="number" disabled [value] = "user.numero"  ></ion-input>
        </ion-item>
        <ion-item class="custom-item form-item">
           <ion-input placeholder="Correo electrónico" name="email" #correo = "ngModel"   type="email" required email [(ngModel)]= "user.correo"  ></ion-input>
        </ion-item>

        <!--Verifica validaciones el correo -->
        <div class="alert alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
          <div color="danger" *ngIf="correo.errors.email">Email no válido</div>
        </div>

        <ion-item class="custom-item form-item">
              <ion-input name="teléfono" placeholder="Celular" #numero = "ngModel"  type="number"  required minlength="9" maxlength="12" pattern="(?!0)\\d+" [(ngModel)]= "user.telefono" ></ion-input>
        </ion-item>

        <!--Verifica validaciones el numero del telefono -->
        <div class="alert alert-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">
          <div color="danger" >Completa número de teléfono</div>
        </div>

        <ion-item class="custom-item form-item">
            <ion-label>Selecciona la relación laboral a la cual perteneces o perteneciste.</ion-label>
              <ion-select  class= "custom-input form-select" name="identification-type"  [(ngModel)]= "user.razonSocial">
            <ion-option *ngFor=" let razonSocial of formulario.razonSocial">{{razonSocial.razonSocial}} </ion-option>
          </ion-select>
        </ion-item>

        <button  ion-button  class="primary-button" style="margin-top: 4em"(click)="registrar()" [disabled] ="correo.invalid || numero.invalid"  >Registrar</button>
      </form>
    </div>

  </div>
</ion-content>
