<ion-header>
  <ion-toolbar class="positiva-modal-toolbar">
    <ion-title>{{ data.title }}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <img [src]="data.mainImage"  [alt]="data.title">
  </ion-card-header>

  <ion-card-content [innerHTML]="data.htmlContent"></ion-card-content>
</ion-content>
