<ion-item *ngIf="companies && companies.length > 1">
  <ion-label>Relación laboral</ion-label>
  <ion-select interface="popover" [(ngModel)]="activeCompany" (ngModelChange)="onCompanyChange($event)">
    <ion-option *ngFor="let company of companies" [value]="company">{{ company.razonSocial }}</ion-option>
  </ion-select>
</ion-item>
