page-incapacidadesPermanentes{
  .center {
    display: block !important;
    margin: 2em auto;
  }

  .card-md{
    border-radius: 10px;
  text-align: center;
  }

  .text-center {
    text-align: center
  }
}
