<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Incapacidades Permanentes
  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="toggleIndicator()">
 <div *ngIf="incapacidadesPermanentes != null">

    <ion-card class="positiva-card"   *ngFor="let incapacidadesPermanentes of incapacidadesPermanentes" >
      <button class="detalleIncapacidad" (click) = "detalleIncapacidadPermanentes(incapacidadesPermanentes)" style="
      width:  100%;
  ">
  <img src="assets/icon/arrow-forward-orange.svg" class="details-icon">
        <ion-card-header>
          <p class="color1"><strong>Nº radicado</strong></p>
          <p class="color2"><strong>{{incapacidadesPermanentes[0].numeroRadicado }}</strong></p>
          </ion-card-header>
          <ion-card-content *ngIf="incapacidadesPermanentes[0].fechaRadicado!==null">
            <p class="color1"><strong>Fecha de radicado</strong></p>
            <p class="color2"><strong>{{incapacidadesPermanentes[0].fechaRadicado}}</strong></p>
          </ion-card-content>
        </button>
      </ion-card>
    </div>


    <div class="text-center" *ngIf="incapacidadesPermanentes && !incapacidadesPermanentes.length">
        <ion-card class="positiva-card">
          <ion-card-header>
            <strong class="color2">{{usuario.primerNombre}} {{usuario.segundoNombre}}</strong>
          </ion-card-header>
          <ion-card-content class="color2">
            No tienes incapacidades permanentes
            </ion-card-content>
          </ion-card>
        </div>

        <div class="fixed-indicator" [hidden]="!scrollIndicator">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
  </ion-content>
