<ion-header>
  <ion-navbar>
    <ion-title>Badges</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>



    <ion-card-content>
      <ion-card-title>
        perfil
      </ion-card-title>
      <p>
      Pronto entrará en funcionamiento  </p>
    </ion-card-content>


  </ion-card>
