<ion-header>
  <ion-toolbar class="positiva-toolbar">
    <button ion-button [menuToggle]="menuToggle" (click)="goToHome('menu')" class="menu-btn">
      <img src="assets/icon/{{ menuIcon }}.svg" class="nav-icon">
    </button>

    <img src="assets/imgs/logo-light.png" class="logo-inline">

    <ion-buttons end>
      <button ion-button [menuToggle]="profileToggle" (click)="goToHome('profile')" class="menu-btn">
        <img src="assets/icon/{{ profileIcon }}.svg" class="nav-icon">
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu
  (ionOpen)="openMenu()"
  (ionClose)="closeMenu()"
  id="nav-menu" persistent="true" type="push" [content]="contentMain"
  swipeEnabled="false">
  <ion-header>
    <ion-toolbar class="transparent-toolbar">

    </ion-toolbar>
  </ion-header>

  <ion-content class="contentMain">
    <ion-list style="margin-top: 2rem;">
      <button class="main-menu-item" ion-item detail-none menuClose (click)="viewCertificate()">
        <img src="assets/icon/certificate.svg" class="main-menu-icon">
        Certificado de afiliación
      </button>
      <button *ngIf="userData.carnetActivo" class="main-menu-item" ion-item detail-none menuClose (click)="viewCarnet()">
        <img src="assets/icon/carnet.svg" class="main-menu-icon">
        Carné afiliación ARL
      </button>
      <ng-container *ngFor="let manejoMain of lista.manejoMain">
        <button *ngIf="manejoMain.permisos" class="main-menu-item" ion-item  detail-none menuClose (click)="abrirPagina(manejoMain.navegacion)">
          <img src="assets/icon/{{ manejoMain.icono }}" class="main-menu-icon">
          <span class="main-menu-text">{{ manejoMain.titulo }}</span>
        </button>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu
  (ionOpen)="openProfile()"
  (ionClose)="closeProfile()"
  swipeEnabled="false"
  id="profile-menu" type="push" side="right" [content]="contentMain" id="profile-menu">
  <ion-header>
    <ion-toolbar class="transparent-toolbar">

    </ion-toolbar>
  </ion-header>

  <ion-content class="contentMain">

    <div class="profile-info">
      <img src="assets/icon/profile-photo.svg" alt="User photo profile" class="user-photo">

      <p><small (click)="uploadProfilePhoto()" style="display: none;">Editar foto <img src="assets/icon/upload-photo.svg" width="18"></small></p>

      <input type="file" #uploadPhoto hidden>

      <strong>
        {{ user.informacionPersonal.primerNombre }} {{ user.informacionPersonal.segundoNombre }}<br>
        {{ user.informacionPersonal.primerApellido }} {{ user.informacionPersonal.segundoApellido }}
      </strong>

      <hr>

      <strong>
        Estado: <br>
        <span class="color1">Activo</span>
      </strong>

      <hr>

      <ng-container *ngIf="razonActiva.razonSocial">
        <strong>{{razonActiva.razonSocial}}</strong>

        <hr>

        <strong>
          Nit: <br>
          <span class="color1">{{razonActiva.numeroDocumento}}</span>
        </strong>

        <hr>
      </ng-container>
      <ion-item class="item-fingerprint" *ngIf="fingerprintService.hasId && fingerprintService.hasData"  (click)="fingerprintService.DeleteFingerprintData($zone.run);">
        <ion-icon name="ios-finger-print" item-start></ion-icon>

          <strong>Borrar huella</strong>


      </ion-item >
      <ion-item class="item-fingerprint" *ngIf="fingerprintService.hasId && !askAgain"  (click)="ActivateFingerprint()">

<ion-icon name="ios-finger-print" item-start></ion-icon>
        <strong>Activar autenticación por huella</strong>


    </ion-item >
        

   
      <button (click)="logout()" ion-button class="logout-btn">
        <img src="assets/icon/logout.svg" width="40">
        Cerrar Sesión
      </button>
    </div>

  </ion-content>
</ion-menu>

<ion-nav #contentMain [root]="rootPage"></ion-nav>
