.menu-btn {
  color: #fff;
}

page-main {
  .profile-info {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

    .user-photo {
      display: inline-block;
      margin: 0 auto;
      width: 125px;
    }

    .logout-btn {
      height: auto;
      margin-top: 2.5em;
      line-height: 2;
      background-color: transparent !important;

      .button-inner {
        flex-direction: column;
      }
    }

    hr {
      background-color: rgba(#fff, .3);
    }
  }

  .main-menu {
    &-item {
      background-color: #3D4E5A;
      border: 0 !important;
      color: #fff;

      & .item-inner {
        border-bottom: 0 !important;
      }
    }

    &-icon, &-text {
      display: inline-block;
      vertical-align: middle;
    }

    &-icon {
      margin-right: 1em;
      width: 30px;
    }

    &-text {
      // TODO(ccastellanos): Change (has a magic number)
      width: calc(100% - 50px);
    }
  }
  
  .item-fingerprint{
    background: transparent;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }

  .toolbar-background {
    background:#ff7500;
  }
  .toolbar-title-md , .bar-button-default-md{
    color: white;
  }



  .botonHome {
      left: 80%;
       box-shadow: none;
      background-color: #ff7500;
      }
  p{
    color:"#c1cdd5";
  }
  .label{
    white-space: normal;
    font-size: 13px;
  }
  .imgIcon{
  max-width: 10%;
  position: relative;
  top:8px;
  }
  .contentMain{
    color: #000;
    background-color: $color2;

  }
  .buttonEstyle {
    color: #c1cdd5;
    background-color: #3D4E5A;
  }

  .menu-on-front {
    z-index: 10000;
  }

    .nav-icon {
      width: 21px;
    }
  }

// ion-header {
//   &::after {
//     display: none;
//   }
// }

// /*=============
//    Menu styles
//   =============*/
// .menu {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   // Hovered
//   //z-index: 100000;
// }

// .navigation {
//   // Simple browser hint
//   // Good reading: https://developer.mozilla.org/en-US/docs/Web/CSS/will-change
//   will-change: transform;

//   transition: all .25s ease-in-out;

//   &.off-canvas {
//     // Always use transform for smooth transitions ;)
//     transform: translate(60%, 10%) scale(.8);
//     box-shadow: 0 0 25px 0 rgba(#000, .5);
//   }
// }
