<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Solicitud autorización médica
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- companies-dropdown (onCompanyChange)="updateSinisters($event)"></companies-dropdown -->

  <div class="sinisters text-center" *ngIf="sinisters != null">
  <ion-card class="positiva-card" *ngFor="let sinister of sinisters">
    <ion-card-content>
      <p>
        <strong>
          <span class="color1">No. Siniestro: </span>
          <span class="color2">{{ sinister.numeroSiniestro }}</span>
        </strong>
      </p>
      <p>
        <strong>
          <span class="color1">Fecha: </span>
          <span class="color2">{{ sinister.fechaHoraSiniestro | date:'dd/MM/yyyy' }}</span>
        </strong>
      </p>
      <p>
          <strong>
            <span class="color1">Relación: </span>
            <span class="color2">{{ sinister.empleador.razonSocial }}</span>
          </strong>
        </p>

      <button (click)="newRequest(sinister)" class="primary-button" style="margin: 1em auto 0;" ion-button full>
        Nueva solicitud
      </button>
    </ion-card-content>
  </ion-card>
</div>
  <div class="center text-center" *ngIf="sinisters && sinisters.length === 0">
    <ion-card class="positiva-card">
      <ion-card-header>
          <strong class="color2">{{usuario.informacionPersonal.primerNombre}} {{usuario.informacionPersonal.segundoNombre}}</strong>
      </ion-card-header>
      <ion-card-content>
        No tienes siniestros asociados
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
