<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Incapacidades temporales
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-fab bottom right >
  <button ion-fab (click)="generarNuevoPqrd()"><ion-icon name="add"></ion-icon></button>
</ion-fab>


  <ion-card class="card card-md" style="

  ">
  <ion-card-content style="
padding: 0px;
" class="card-content card-content-md">
      <ion-card-title class="card-title card-title-md" style="
                color: #4c4c4c;
          font-size: 19px;
              text-align:  center;
      margin-top:1em;
      margin-bottom:1em;
               ">        Solicitud servicios
      </ion-card-title>

      <div
      style="
                color: #4c4c4c;
          font-size: 0.97em;
              text-align:  center;
              margin-top:1em;
              margin-bottom:2em;
              margin-left: 1.4em;
    margin-right: 1.4em;
              ">

Serie de condiciones físicas en que se encuentra un ser vivo en una circunstancia o un momento determinados
      </div>

<div style="
    width: 100%;
    height: 30%;
    background-color: #f7f7f7;
    padding:1em;
">
<div style="
    display:  inline-block;
    text-align:center;
">
  <p class="tittle" style="
    color: #a4a4a4;
">Fecha</p>
      <p style="
    color: #bbbbbb;
"> 21/03/2018</p>
    </div>
    <div style="
    position: relative;
    display: inline-block;
    left: 48px;
    text-align:center;
">
        <p class="tittle" style="
    color: #a4a4a4;
">Estado</p>
        <p class="estado" style="
    color: #81b7008c;
"> Terminado</p>
</div>

<div style="
position: relative;
display: inline-block;
left: 98px;
text-align:center;
">
    <p class="tittle" style="
    color: #a4a4a4;
">Tipo</p>
    <p style="color:#bbbbbb"> pregunta</p>
</div>
</div>
        </ion-card-content>
    </ion-card>










    <ion-card class="card card-md" style="
      border-radius: 8px;
    ">
    <ion-card-content style="
    padding: 0px;
    " class="card-content card-content-md">
        <ion-card-title class="card-title card-title-md" style="
                  color: #4c4c4c;
            font-size: 19px;
                text-align:  center;
                margin-top:1em;
                margin-bottom:1em;
                ">        Solicitud servicios
        </ion-card-title>

        <div
        style="
                  color: #4c4c4c;
            font-size: 0.97em;
                text-align:  center;
                margin-top:1em;
                margin-bottom:2em;
                margin-left: 1.4em;
    margin-right: 1.4em;
                ">

Serie de condiciones físicas en que se encuentra un ser vivo en una circunstancia o un momento determinados
        </div>


    <div style="
      width: 100%;
      height: 30%;
      background-color: #f7f7f7;
    ">
    <div style="
      display:  inline-block;
    ">
    <p class="tittle" style="
      color: #a4a4a4;
    ">Fecha</p>
        <p style="
      color: #bbbbbb;
    "> 21/03/2018</p>
      </div>
      <div style="
      position: relative;
      display: inline-block;
      left: 48px;
    ">
          <p class="tittle" style="
      color: #a4a4a4;
    ">Estado</p>
          <p class="estado" style="
      color: #81b7008c;
    "> Terminado</p>
    </div>

    <div style="
    position: relative;
    display: inline-block;
    left: 98px;
    ">
      <p class="tittle" style="
      color: #a4a4a4;
    ">Tipo</p>
      <p style="color:#bbbbbb"> pregunta</p>
    </div>
    </div>
          </ion-card-content>
      </ion-card>






      <ion-card class="card card-md" style="
        border-radius: 8px;
      ">
      <ion-card-content style="
      padding: 0px;
      " class="card-content card-content-md">
          <ion-card-title class="card-title card-title-md" style="
                    color: #4c4c4c;
              font-size: 19px;
                  text-align:  center;
                  margin-top:1em;
                  margin-bottom:1em;
                  ">        Solicitud servicios
          </ion-card-title>

          <div
          style="
                    color: #4c4c4c;
              font-size: 0.97em;
                  text-align:  center;
                  margin-top:1em;
                  margin-bottom:2em;
                  margin-left: 1.4em;
    margin-right: 1.4em;
                  ">

  Serie de condiciones físicas en que se encuentra un ser vivo en una circunstancia o un momento determinados
          </div>

      <div style="
        width: 100%;
        height: 30%;
        background-color: #f7f7f7;
      ">
      <div style="
        display:  inline-block;
      ">
      <p class="tittle" style="
        color: #a4a4a4;
      ">Fecha</p>
          <p style="
        color: #bbbbbb;
      "> 21/03/2018</p>
        </div>
        <div style="
        position: relative;
        display: inline-block;
        left: 48px;
      ">
            <p class="tittle" style="
        color: #a4a4a4;
      ">Estado</p>
            <p class="estado" style="
        color: #81b7008c;
      "> Terminado</p>
      </div>

      <div style="
      position: relative;
      display: inline-block;
      left: 98px;
      ">
        <p class="tittle" style="
        color: #a4a4a4;
      ">Tipo</p>
        <p style="color:#bbbbbb"> pregunta</p>
      </div>
      </div>
            </ion-card-content>
        </ion-card>







        <ion-card class="card card-md" style="
          border-radius: 8px;
        ">
        <ion-card-content style="
      padding: 0px;
      " class="card-content card-content-md">
            <ion-card-title class="card-title card-title-md" style="
                      color: #4c4c4c;
                font-size: 19px;
                    text-align:  center;
                    margin-top:1em;
                    margin-bottom:1em;
                    ">        Solicitud servicios
            </ion-card-title>
            <div
            style="
                      color: #4c4c4c;
                font-size: 0.97em;
                    text-align:  center;
                    margin-top:1em;
                    margin-bottom:2em;
                    margin-left: 1.4em;
    margin-right: 1.4em;
                    ">

    Serie de condiciones físicas en que se encuentra un ser vivo en una circunstancia o un momento determinados
            </div>

      <div style="
          width: 100%;
          height: 30%;
          background-color: #f7f7f7;
      ">
      <div style="
          display:  inline-block;
      ">
        <p class="tittle" style="
          color: #a4a4a4;
      ">Fecha</p>
            <p style="
          color: #bbbbbb;
      "> 21/03/2018</p>
          </div>
          <div style="
          position: relative;
          display: inline-block;
          left: 48px;
      ">
              <p class="tittle" style="
          color: #a4a4a4;
      ">Estado</p>
              <p class="estado" style="
          color: #81b7008c;
      "> Terminado</p>
      </div>

      <div style="
      position: relative;
      display: inline-block;
      left: 98px;
      ">
          <p class="tittle" style="
          color: #a4a4a4;
      ">Tipo</p>
          <p style="color:#bbbbbb"> pregunta</p>
      </div>
      </div>
              </ion-card-content>
          </ion-card>
</ion-content>
