<ion-header id="headerDetalles">
  <ion-navbar>
    <ion-title> Incapacidad </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>



  <div class="tablas" *ngIf="incapacidades != null">
    <table  >
      <tr>
        <td class="titulo">Estado</td>
        <td>{{incapacidades.estadoSolicitud}}</td>
      </tr>

      <tr *ngIf="incapacidades.datosPago.causalNegacion != null">
        <td class="titulo">Motivo de negación</td>
        <td>{{ incapacidades.datosPago.causalNegacion }}</td>
      </tr>

      <tr *ngIf="incapacidades.datosPago.causalRechazo != null">
        <td class="titulo">Motivo de rechazo</td>
        <td>{{ incapacidades.datosPago.causalRechazo }}</td>
      </tr>

      <tr>
        <td class="titulo" >Nº documento de identificación</td>
        <td>{{documento}}</td>
      </tr>
      <tr>
        <td class="titulo">Fecha inicio incapacidad</td>
        <td>{{incapacidades.fechaInicioIncapacidad}}</td>
      </tr>

      <tr>
        <td class="titulo">Fecha fin incapacidad</td>
        <td>{{incapacidades.fechaFinIncapacidad}}</td>
      </tr>

      <tr>
        <td class="titulo" >Fecha siniestro</td>
        <td>{{incapacidades.fechaSiniestro}}</td>
      </tr>

      <tr>
        <td class="titulo">Valor reconocido </td>
        <td>{{incapacidades.datosPago.valorReconocido  | currency }}</td>
      </tr>
      <tr>
        <td class="titulo">Valor aportes de salud </td>
        <td>{{incapacidades.datosPago.valorAportesSalud  | currency }}</td>
      </tr>

      <tr>
        <td class="titulo">Valor aportes pensión </td>
        <td>{{incapacidades.datosPago.valorAportesPension  | currency }}</td>
      </tr>

      <tr>
        <td class="titulo">IBC</td>
        <td>{{incapacidades.datosPago.ibc  | currency }}</td>
      </tr>

      <tr>
        <td class="titulo">Fecha de pago</td>
        <td>{{ incapacidades.datosPago.fechaPago }}</td>
      </tr>

      <tr>
        <td class="titulo">Tipo de pago</td>
        <td>{{datosPago}}</td>
      </tr>

      <tr>
        <td class="titulo">Tipo de cuenta </td>
        <td>{{incapacidades.datosPago.tipoCuenta }}</td>
      </tr>

      <tr>
        <td class="titulo">Nº de cuenta </td>
        <td>{{incapacidades.datosPago.numeroCuenta }}</td>
      </tr>
      <tr>
        <td class="titulo">Titular de la cuenta </td>
        <td>{{incapacidades.datosPago.titularCuenta }}</td>
      </tr>
    </table>
  </div>


  <div class="tablas" *ngIf= "incapacidadesPermanentes != null">
    <table id ="incapacidadesPermanentes" >
      <tr>
        <td class="titulo">Estado</td>
        <td>{{incapacidadesPermanentes[0].estadoSolicitud}}</td>
      </tr>
      <tr>
        <td class="titulo">Nº documento de identificación</td>
        <td>{{documento}}</td>
      </tr>
      <tr>
        <td class="titulo" >Fecha siniestro</td>
        <td>{{incapacidadesPermanentes[0].fechaSiniestro}}</td>
      </tr>
      <tr>
        <td class="titulo">IBL</td>
        <td>{{incapacidadesPermanentes[0].ibl}}</td>
      </tr>
      <tr>
        <td class="titulo">PCL</td>
        <td>{{incapacidadesPermanentes[0].pcl}}</td>
      </tr>
      <tr>
        <td class="titulo">Valor reconocido</td>
        <td>{{incapacidadesPermanentes[0].valorPagado | currency}}</td>
      </tr>
      <tr>
        <td class="titulo">Tipo de cuenta</td>
        <td>{{incapacidadesPermanentes[0].tipoCuenta}}</td>
      </tr>
      <tr>
        <td class="titulo">Nº de cuenta</td>
        <td>{{incapacidadesPermanentes[0].numeroCuenta}}</td>
      </tr>

      <tr>
        <td class="titulo">Titular de la cuenta </td>
        <td>{{incapacidadesPermanentes[0].titularCuenta}}</td>
      </tr>

    </table>
  </div>

</ion-content>
