page-detallesIncapacidades{
  table tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
    background-color:#fff;
  }
  table th {
    background-color: black;
    color: white;
  }
  table {
    height: 100%;
    margin:24px;
    width: 86%;
  }

  table#incapacidadesPermanentes tr:nth-child(even) {
    background-color: #eee;
  }
  table#incapacidadesPermanentes tr:nth-child(odd) {
    background-color:#fff; 
  }
  table#incapacidadesPermanentes th {
    background-color: black;
    color: white;
  }
  table#incapacidadesPermanentes {
    height: 75%;
    margin:26px;
  }
  .titulo{
    font-weight: bold;
  }
  .toolbar-background{
    background-color: #ff7500;
    color:white;
  }
  .toolbar-title{
    color:white;
  }
  .back-button{
    color:white;
  }
  .tablas{
    height: 100%;
    width: 100%;
  }



}
