<ion-header>
    <ion-toolbar class="positiva-modal-toolbar">
      <ion-title>No. solicitud: {{ data.numeroSolicitud  }}</ion-title>

      <ion-buttons start>
        <button ion-button icon-only (click)="dismiss(false)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <p class="color2" style="text-align: center; margin: 2em 0; line-height: 1.5em;">
    <strong class="color1">Estado:</strong> {{ data.estado }}<br>
    <strong class="color1">Fecha solicitud:</strong> {{ data.fechaSolicitud |  date:'dd/MM/yyyy'  }}<br>
    <strong class="color1">Fecha autorización:</strong> {{ data.serviciosSolicitados[0].movimientos[0].fechaMovimiento }}
  </p>

  <ion-card class="positiva-card" *ngFor="let service of data.serviciosSolicitados">
    <ion-card-header>
      <p class="color2" style="white-space: normal; margin-bottom: .5em;"><strong>Servicio:</strong> {{ service.descripcion }}</p>
      <p class="color2" style="white-space: normal"><strong>Proveedor:</strong> {{ service.movimientos[0].nombreProveedor }}</p>
    </ion-card-header>

    <ion-card-content style="text-align: center">
      <ng-container *ngIf="!service.efectuado && service.movimientos[0].tipoMovimiento === 'APPROVED'">
        <strong class="color2">Por favor, indica si tomaste el servicio:</strong>

        <div class="inline-buttons">
          <button class="primary-button" style="width: 40%" ion-button (click)="evaluate(service, true)">Si</button>
          <button class="secondary-button" style="width: 40%" ion-button (click)="evaluate(service, false)">No</button>
        </div>
      </ng-container>

      <p style="text-align: center" *ngIf="service.efectuado">
        <strong class="color1">Este servicio ya ha sido confirmado</strong>
      </p>

      <p style="text-align: center" *ngIf="service.movimientos[0].tipoMovimiento === 'REJECTED'">
        <strong class="color1">Este servicio ha sido rechazado</strong>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
