page-red-urgencias{

  .main-container
  {

    box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.0);
    background-color: white;
    z-index: 2;

    width: 340px;
    position:relative;
    left:2%;

    h1{
      padding: 20px;
      text-align: center;
    }
    .ion-select{
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      color: #808080;
    }

  }

  .loading-red{
    width: 50px!important;
    height: 50px!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .error-loading{
    text-align: center;
    color: #ff7500;
  }

  .button-err-loading{
    color: #ff7500;
  }

  //con estos estilos se busca quitar el margen para que me pueda dar un mejor espacion en el slide
  p{
    margin:0px;
    font-size: 13px;
  }
  h4{
    margin:0px;
  }
  #redMap{
    height: 70%;
    position:relative;
  }

  #razonSocialItem{
    position:  relative;
    left: 7%;
    bottom: 42px;
    width: 70%;


  }
  #razonSocial{
    position: absolute;
    top: 10px;
    width: 180%;
    left: 1.5%;
  }
  #buttonRazonSocial{
    box-sizing: border-box;
    height: 45px;
    left: 46%;
    bottom: 50px;
    border-radius: 75%;
    width: 45px;
    background-color:white;
  }

  //iconos
  #iconleft,
  #iconRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
  }

  #iconleft{
    left: 0;
  }

  #iconRight{
    right: 0;
  }

  .pad-inner {
    padding: 0 30px;
  }

/*  ion-icon{
    color:#ff7500;
  }*/
  .selectRazonSocial{
    width: 44%;
    border-radius: 7%;
  }
}
.alert-md .alert-radio-label{
  white-space: normal !important;
}
