
<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Red de urgencias
  </ion-toolbar>
</ion-header>

<ion-content >



  <div #redMap id="redMap" > </div>
  <!--div id= "razonSocial" *ngIf="habilitarBusqueda === true">
    <form (ngSubmit)="direccionUsuario()">
      <ion-item class="selectRazonSocial">
        <ion-label floating> Relaciones laborales </ion-label>
        <ion-select class= "ion-select" name="departamentos-type" style="background-color:white; border-radius:13px;"
        placeholder [(ngModel)]= "valorRelacion">
        <ion-option *ngFor="let relacionesLaborales of  relacionesLaborales" value="{{relacionesLaborales.razonSocial}}">{{relacionesLaborales.razonSocial}} </ion-option>

      </ion-select>
    </ion-item>

    <button class="button" id="buttonRazonSocial" ion-button>
      <ion-icon name="md-search" style="color: #FE7138"></ion-icon>
    </button>
  </form>
</div-->


<div padding>
  <ion-segment [(ngModel)]="redComplemento">
    <ion-segment-button value="telefono" (click)="ValidateNumbers()">
      <ion-icon name="md-call"></ion-icon>
      Teléfonos
    </ion-segment-button>
    <ion-segment-button value="listaDeLugares">
      <ion-icon name="md-pin"></ion-icon>
      Lista de lugares
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="redComplemento">
  <ion-list *ngSwitchCase="'telefono'">
    <ion-item>
      <div *ngIf="descripcion != null" style="text-align:center;">
        <p *ngFor="let telefonosFinalRamas of  telefonosFinalRamas ">
          <strong class="color1">{{telefonosFinalRamas}}</strong> -
          <a href="tel:{{telefonosFinalRamas}}">Llamar</a>
        </p>
        <p *ngIf="telefonosFinalRamas.length==0
        || telefonosFinalRamas==null
        || telefonosFinalRamas==''
        || telefonosFinalRamas==undefined">
          <strong class="color1">{{telefonosFinalRamas}}</strong> -
          <a href="tel:{{telefonosFinalRamas}}">Llamar</a>
        </p>
        <a style="text-decoration:none;">
           <br><br>
        </a>
      </div>
      <div *ngIf="descripcion == null">
        <p> Seleccione una relación laboral para realizar <br> la búsqueda </p>
      </div>
    </ion-item>
  </ion-list>



  <ion-list *ngSwitchCase="'listaDeLugares'">
    <div class="error-loading"  *ngIf="loadingPlaces==2">Error  al cargar lugares<br><br>
      <button (click)="loadMap()" class="button-err-loading" ion-button  [outline]="true" >
          Recargar
        </button>
    </div>
    <ion-spinner *ngIf="loadingPlaces==0 && !placesFinish" name="crescent" class="positiva-loading loading-red"></ion-spinner>
    <ion-item *ngIf="loadingPlaces==1">

      <ion-slides #slide id="slide" *ngIf="descripcion != null" >
        <ion-slide *ngFor="let elementos of descripcion; let i=index;let last = last;">
            {{placesLoaded(last)}}
          <img src="assets/icon/arrow-back-orange.svg" id="iconleft" (click)="Swipe(false)" [hidden]="i === 0">
          <img src="assets/icon/arrow-forward-orange.svg" id="iconRight" (click)="Swipe(true)"  [hidden]="i === descripcion.length - 1">

          <div class="pad-inner">
            <h4>{{ elementos.name }}</h4>
            <p>{{ elementos.address }}<p>
            <!--p>{{ elementos.phone }}<p-->
          </div>

            </ion-slide>
          </ion-slides>

          <div *ngIf="descripcion == null">
            <p> Seleccione una relación laboral para realizar <br> la búsqueda </p>
          </div>
        </ion-item>
        </ion-list>
    </div>





  </ion-content>
