.bg-home {
  background-image: url('../assets/imgs/bg-home.jpg');
  background-size: cover;
  background-position: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, .4);
  }
}

.carnet-hidden {
  opacity: .6;
  filter: grayscale(40%);
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;

  &-icon {
    display: block;
    margin: 0 auto;
    width: 56px;
    height: 56px;
    padding: .6em;

  }

  &-text {
    font-weight: 100;
    font-size: .9em;
    text-align: center !important;
    color: #fff;
  }
}

.welcome-message {
  margin-top: 1.25em;
  color: #fff;
  text-align: center;

  p {
    font-weight: 100;
  }
}

.icon-Container{
  border-radius: 50%;
  background-color: #FF7500;
  border: 2px solid #fff;
  width: 60px;
  margin: 0 auto;
}
