<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar class="transparent-toolbar"></ion-toolbar>
</ion-header>

<ion-content class="bg-home">
  <div class="welcome-message">
    <h3>Hola, {{ userName }}</h3>
    <small>Bienvenido(a) a Positiva Compañia de Seguros</small>
  </div>

  <ion-grid class="menu">
    <ion-row>
      <ion-col [ngClass]="{ 'carnet-hidden': !carnetActive }" (click)="carnetActive ? abrirPagina(quickAccess.carnet) : null">
        <div class="icon-Container">
          <img class="menu-icon" src="assets/icon/carnet.svg">
        </div>
        <p class="menu-text">Carné <br> afiliación</p>
      </ion-col>

      <ion-col (click)="abrirPagina(quickAccess.red)">
          <div class="icon-Container">
        <img class="menu-icon" src="assets/icon/urgency.svg">
        </div>
        <p class="menu-text">Red de<br> urgencias</p>
      </ion-col>

      <ion-col (click)="abrirPagina(quickAccess.consulta)">
          <div class="icon-Container">
        <img class="menu-icon" src="assets/icon/authorization-consult.svg">
        </div>
        <p class="menu-text">Consulta de  autorización médica</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
