<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Asistencia telefónica
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <h4 style="text-align: center" class="color2"><strong>Líneas de atención Positiva</strong></h4>

  <div *ngFor="let tel of tels">
    <ion-card >
      <ion-card-content>
        <img src="assets/icon/phone.svg" class="phone-icon">
        <strong>
          <p>{{tel.reference}}</p>
          <a href="tel:{{ tel.call}}" class="color2">{{ tel.format }} </a>
        </strong>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
