page-asistencia-telefonica {

  ion-card{
    text-align:center;

  }

  a{
    text-decoration: none;
  }

  .logo {
    margin: 0 auto;
    max-width: 300px;
  }

  .phone-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 22px;
    height: 22px;
  }

  ion-card {
    position: relative;
    margin: 0 !important;
    width: 100% !important;
    border: 1px solid rgba($color2, .2);
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}
