// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.main-title {
  color: white;
}

.alert-radio-label{
  white-space: normal!important;
}

/*** Alert styles ***/

.custom-alert .alert-radio-label{
color:white;

}
.custom-alert .alert-wrapper {
  border-radius: 10px;
  text-align: justify;
}

.custom-alert .mensajeDeBienvenida {
  font-weight: 900;
}

.custom-alert .mensajeSecundarioBienvenida {
  font-weight: 400;
}

.custom-alert .alert-button {
  right: 31%;
}


.custom-alert .negrilla {
  font-weight: bold;
  text-align: center;

}

.custom-alert .text-align{
  text-align:center;
}
.custom-alert .alert-radio-group{
  display: flex;

}



// RECOVER
.custom-alert-recover .text-align{
  text-align:center;
}

.custom-alert-recover .alert-button-group{
  padding-left:0%;
}
.custom-alert-recover .alert-radio-button{
  left:5%;
}
.custom-alert-recover .alert-head{
  padding: 12x 0px 24px 24px;

}
.custom-alert-recover .alert-message{
  padding-bottom: 0%;
}

.custom-alert-recover .negrilla {
  font-weight: bold;
  text-align: center;

}
.custom-alert-recover .alert-wrapper {
  border-radius: 10px;
  text-align: justify;
}
.custom-alert-recover .alert-button-group {
  position: relative;
  right: 32%;
}


/*** End alert styles ***/

.fixed-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;

  position: fixed;
  bottom: 2em;
  right: 2em;

  background-color: #ff7500;
  color: #fff;

  opacity: .7;
}

/**

  LOOK & FEEL POSITIVA

*/
$color1: #FF7500;
$color2: #3d4e5a;

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: local('Gotham Light'), url('../assets/fonts/Gotham/gotham-light.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham Book'), url('../assets/fonts/Gotham/gotham-book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: local('Gotham Medium'), url('../assets/fonts/Gotham/gotham-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham Bold'), url('../assets/fonts/Gotham/gotham-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: local('Gotham Black'), url('../assets/fonts/Gotham/gotham-black.otf') format('opentype');
}

*:not(ion-icon) {
  font-family: 'Gotham' !important;
}

h1/*, h2*/ {
  font-size: 15pt;
}

h3 {
  font-size: 13pt;
}

h4 {
  font-size: 11pt;
}

h5 {
  font-size: 9.6pt;
}

h6 {
  font-size: 7pt;
}

.color1 {
  color: $color1 !important;
}

.color2 {
  color: $color2 !important;
}

// Offsets
.h7 {
  font-size: 10.6pt;
}

.h8 {
  font-size: 10pt;
}

.form-item {
  border: 2px solid $color1;
  border-radius: 18px !important;
  margin-bottom: .6rem;
  background-color: rgba(#fff, .9);
}

.primary-button,
.secondary-button {
  color: #fff;
  font-size: 1em;
  font-weight: bold !important;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 400;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.primary-button {
  background-color: $color1;
}

.secondary-button {
  background-color: $color2;
}

.form-select {
  & .select-icon-inner {
    border-top-color: $color1 !important;
  }
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    transform: scale(3.2);
  }

  &:after {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: linear-gradient(to top, rgba(11, 11, 11, .9), transparent);
  }
}

.custom-input {
  font-size: 16px;
  width: 100%;
  max-width: 100%;
}

.custom-item {
  border-radius: 3px;
  height: 35px;
}

.main-title {
  //color: #fff !important;
  font-size: 19px;
  font-weight: 600;
  // letter-spacing: 1px;
  background-color: $color1;
  border-radius: 1em;
  padding: .4em 0;
}

.wrapper {
  position: relative;

  display: flex;
  flex-flow: column wrap;

  justify-content: space-between;
  align-items: center;
  min-height: 100%;

  z-index: 1000;
}

.main-container {
  width: 87%;
  text-align: center;
}

.back-btn {
  margin-top: 0;
  position: fixed;
  top: 5px;
  left: 5px;
  width: 50px !important;
  height: 50px;
  background-color: transparent !important;
  box-shadow: none !important;
  z-index: 100000;

  ion-icon {
    font-size: 27px;
    color: #fff !important;
  }
}

.logo {
  display: block;
  margin-top: 30px;
  max-width: 250px;
  width: 90%;
}

.positiva-alert {
  ion-backdrop {
    opacity: 0.8 !important;
  }

  .alert-radio-group {
    border-top: 0 !important;
  }

  & .alert-button-group {
    width: 80%;
    margin-top: auto;

    & .alert-button {
      color: #fff;
      background-color: $color1;
      text-transform: uppercase;
      font-size: 10pt !important;
      display: block;
    }
  }

  .alert-head{
    display: none!important;

  }

  & .alert-message {
    max-height: initial;
    padding-top:50%!important;
  }

  & .alert-wrapper {
    flex-flow: row;
    flex-wrap: wrap;
    background: transparent;
    border-radius: 0 !important;
    justify-content: center;
    height: 100%;
    max-width: 95%;
    color: #fff;
  }



}

.alert-tappable {
  margin-right: 0px!important;
}
.alert-ios .alert-checkbox-label {
  color: White!important;

}
.alert-ios [aria-checked=true] .alert-checkbox-label {
  color: white!important;

}
.alert-ios .alert-checkbox-group {
  border-top:none!important;
}

.positiva-toolbar {
  /**
   * Why 48%?
   +
   * 'cause the logo can't be placed correctly within the toolbar
   */
  $logo-y: -47%;

  padding: 0 1em !important;
  position: relative;

  & .toolbar-background {
    background-color: transparent;
    border-bottom: 0 !important;
  }

  & .logo-inline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, $logo-y);
    max-width: 150px;
  }
}

.transparent-toolbar {
  padding: 2em !important;

  & .toolbar-background {
    background-color: transparent !important;
    border-bottom: 0 !important;
  }
}

.title-toolbar {
  border-top: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  & .toolbar-background {
    background-color: $color2 !important;
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #ccc url('../assets/imgs/login.jpg') no-repeat center / cover;
  transition: all .3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#fff, .8);

    opacity: 0;
    transition: all .3s ease-in-out;
  }
}

.positiva-loading {

  // Spinner circle
  circle {
    stroke: $color1 !important;
  }

  .loading-content {
    color: #fff !important;
  }

  .loading-wrapper {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none;
  }

  ion-backdrop {
    opacity: .7 !important;
  }
}

ion-header {
  ion-title {
    padding: 0 !important;
  }

  &::after {
    background-image: none !important;
  }
}

.positiva-card {
  border-radius: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  position: relative;

  border: 1px solid rgba($color2, .1);

  .details-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 25px;
    transform: translateY(-50%);
  }

  .detalleIncapacidad{
width: 100%;
background-color: white;

  }
}

.positiva-modal-toolbar {
  * {
    color: #fff !important;
  }

  .toolbar-background {
    background: #ff7500 !important;
    border-bottom: 0 !important;
  }
}

.custom-toast{
  .toast-wrapper {
    background-color: $color2!important;
}
}

.UATLabel{
  background-color: $color2;
  color: $color1;
  position: absolute;
  display: block;
  margin-left: 45%!important;
  width: auto;
  text-align: center;
  border-radius: 10px;
  top:10px;

}

.positiva-radio {
  // Incosistent selector
  #alert-input-0-0 {
    margin-right: 30px;
  }

  .alert-radio-label {
    white-space: nowrap !important;
    padding: 10px !important;
  }

  .alert-radio-inner {
    left: 7px;
    top: -7px;
    position: absolute;
    width: 6px;
    height: 12px;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.positiva-active-home {
  filter: blur(5px);

  &::before {
    opacity: 1;
  }
}

.positiva-company {
  .alert-checkbox-label {
    text-align: center;
    white-space: normal !important;
  }
}
