<ion-header>

  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Generar nuevo pqrd
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="divTextTarea">
    <ion-item class="ionTextTarea">
      <ion-label floating> Escriba aquí su PQRD </ion-label>
      <ion-textarea rows="10"  class="text" #textArea="ngModel"  [(ngModel)]="mensaje" required minlength="15" maxlength="500"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="textArea.invalid && (textArea.dirty || textArea.touched) && textArea.errors.minlength">
       <p color= "danger" ion-text>El mensaje debe contar con mínimo 15 caracteres </p>
    </ion-item>
        <ion-item *ngIf="!textArea.invalid && (!textArea.dirty || !textArea.touched)">
<p ion-text>El mensaje debe contar con un máximo de 500 caracteres</p>
        </ion-item>


  </div>
  <div  class="divButton" >
    <button class="primary-button" ion-button (click)="enviarPqrd()"  [disabled]="textArea.invalid">Enviar PQRD  </button>
  </div>
</ion-content>
