page-nuevoPqrd{
  /*
  .scroll-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    margin-bottom: 1em;
  }*/

  .text-input-md:hover{
    margin:0px;
    border:1px solid #ff7500;
    background-color:#e4e4e4;
    text-decoration: none;

  }

  .toolbar-background{
    background-color: #ff7500;
    color:white;
  }
  .toolbar-title{
    color:white;
  }
  .back-button{
    color:white;
  }
  .divTitulo{
    text-align: center;
  }
  .muestraDeCorreo{
    font-weight: bold;
  }
  .divTextTarea{
    //overflow:hidden;
  }
  .divButton{
    text-align: center;
  }
  .ionTextTarea{
    height: 100%;
  }
}
