<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Puntos de atención
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-fab class="ionFab" #fab  *ngIf="loadingPlaces==1" >
    <button ion-fab>
      <ion-icon name="search"></ion-icon>
    </button>

    <ion-fab-list side="left" #fabList>
      <div class="formulario" main-container >

        <form (ngSubmit)="direccionUsuario()" style="  width: 235px;">
          <ion-list>
            <ion-item>
              <ion-select class="ion-select" name="departamentos-type" placeholder="Departamentos" [selectOptions]="{ title: 'Departamentos' }" [(ngModel)]="seleccionDepartamento" (ngModelChange)="cambiarMarcadores()">

                <ion-option *ngFor="let departamentos of departamentos" [value]="departamentos.id">{{ departamentos.nombre }}</ion-option>

              </ion-select>
            </ion-item>

            <ion-item>

              <ion-select class= "ion-select" name="municipios-type" placeholder="Municipios" [selectOptions]="{ title: 'Municipios' }" [(ngModel)]="seleccionMunicipios" [(ngModel)]="seleccionMunicipios" (ngModelChange)="cambiarTramites()">
                <ion-option *ngFor="let municipios of municipios" [value]="municipios.id">{{ municipios.nombre }}</ion-option>

              </ion-select>
            </ion-item>

            <ion-item>
              <ion-select class= "ion-select" name="puntosAtencion-type" placeholder="Trámites y servicios" [selectOptions]="{ title: 'Trámites y servicios' }" [(ngModel)]="seleccionPuntosAtencion" >

                <ion-option *ngFor="let procedimiento of procedimiento" [value]="procedimiento.id">{{ procedimiento.nombre }}</ion-option>

              </ion-select>
            </ion-item>

            <ion-item class="no-padding">
              <button ion-button full #fabButton (click)="getFabButton(fab)">
                Buscar
              </button>
            </ion-item>
          </ion-list>
        </form>
      </div>

    </ion-fab-list>
  </ion-fab>
  <div id="atencionMap" #atencionMap></div>

 


  <div padding>
    <ion-segment [(ngModel)]="atencionComplemento">
      <ion-segment-button value="listaDeLugares">
        <ion-icon name="md-color-wand"></ion-icon>
        Lista de lugares
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="atencionComplemento">
    <ion-list *ngSwitchCase="'razonSocial'">
      <ion-item>
        <ion-thumbnail item-start id="razonSocialItem" >
        </ion-thumbnail>

      </ion-item>
    </ion-list>


    <ion-list *ngSwitchCase="'listaDeLugares'">
      <ion-item>



        <ion-slides #slide id="slide" *ngIf="descripcion != null" >
          <ion-slide *ngFor="let elementos of  descripcion; let i=index;let last = last;">
            <h3>{{elementos.nombre}}</h3>
            <h3>{{ elementos.direccion.split('|')[0] }}</h3>
            <h4>{{ elementos.direccion.split('|')[1] }}</h4>

            <img  [hidden]="i === 0" (click)="Swipe(false)"  src="assets/icon/arrow-back-orange.svg" id="iconleft">
            <img [hidden]="i === descripcion.length - 1" (click)="Swipe(true)"  src="assets/icon/arrow-forward-orange.svg" id="iconRight">

            <div class="pad-inner">
              <p>{{elementos.telefono}}<p>
              <p>{{elementos.horarioAtencion}}<p>
            </div>

              </ion-slide>
            </ion-slides>
            <div class="error-loading"  *ngIf="loadingPlaces==2">Error  al cargar lugares<br><br>
              <button (click)="loadMap()" class="button-err-loading" ion-button  [outline]="true" >
                  Recargar
                </button>
            </div>
            <ion-spinner *ngIf="loadingPlaces==0 && descripcion == null" name="crescent" class="positiva-loading loading-atencion"></ion-spinner>
  

            <div *ngIf=" loadingPlaces ==1 && descripcion==null">

              <h3>Encuentra tu punto de atención pulsando el botón buscar</h3>
            </div>
          </ion-item>
        </ion-list>
      </div>





    </ion-content>
