page-puntos-atencion{
  form{
    background-color: white;
  }

  .ion-select {
    padding: 1em .5em;
    width: 100%;
    max-width: 100%;
  }
 .option-adjust-content{
   max-width: 240px!important;
 }
  .ionFab{
    position: absolute !important;
    top: 25px !important;
    right: 10px !important;
  }
  //con estos estilos se busca quitar el margen para que me pueda dar un mejor espacion en el slide

  p{
    margin:0px;
    font-size: 13px;
  }
  h4{
    margin:0px;
  }
  #atencionMap{
    width: 100%;
    height: 70%;
    display: block;
    position:relative;
  }

  #razonSocialItem{
    position:  relative;
    left: 7%;
    bottom: 42px;
    width: 70%;


  }
  #razonSocial{
    position: absolute;
  }

  ion-slide {
    position: relative;
  }

  #iconleft,
  #iconRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
  }

  #iconleft{
    left: 0;
  }

  #iconRight{
    right: 0;
  }

  .pad-inner {
    padding: 0 30px;
  }

  .no-padding {
    padding: 0 !important;

    & .item-inner {
      padding-right: 0 !important;
    }

    & .label,
    & .item-button {
      height: 100%;
    }

    .item-button {
      font-weight: bold;
    }

    & .label {
      height: 100%;
    }

    & * {
      margin: 0 !important;
    }
  }

  .loading-atencion{
    width: 50px!important;
    height: 50px!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .error-loading{
    text-align: center;
    color: #ff7500;
  }

  .button-err-loading{
    color: #ff7500;
  }
}
