<ion-header>
  <ion-toolbar class="positiva-modal-toolbar">
    <ion-title>Encuesta de satisfacción</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="$viewCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 class="color2"><strong>{{ params.service_name }}</strong></h3>
  <h4 class="color2">{{ params.supplier }}</h4>

  <ion-card class="question" *ngFor="let question of survey.preguntas; index as i">
    <ion-card-header class="testAlign">
      <ion-card-title class="question__title color1">
          ¿Como evaluas el servicio?
      <!--  {{ question.descripcion }}-->
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-around>
          <ion-col col-1-3
            tappable
            *ngFor="let option of question.opcionesRespuesta; index as j" class="answer"
            [ngClass]="{ 'selected': option.selected }"
            (click)="setAnswer(option, question.opcionesRespuesta)">
            <img src="assets/icon/{{ iconsMap[option.descripcion] }}.svg"/><br>
            <strong>{{ option.descripcion }}</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <button class="primary-button" style="margin: 0 auto" ion-button full (click)="applySurvey()">Enviar</button>
</ion-content>
