page-survey {
  /*.title-survey {
    text-align: center;
    margin-top: .7em !important;
    margin-bottom: 1.8em;
  }*/

  h3 {
    margin-top: 10em;
    text-align: center;
    font-size: 1.2em;
  }

  h4 {
    text-align: center;
    font-size: .8em;
  }

  .answer {
    text-align: center;

    &.selected {
      color: #ff7500 !important;
    }

    &:not(.selected) {
      opacity: .5;
    }
  }
.testAlign{
  white-space:inherit!important;
}
  .question {

    box-shadow: none;

    &__title {
      font-weight: 600;
      text-align: center;
    }
  }
}
