<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Incapacidades temporales
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="toggleIndicator()">
  <div *ngIf="incapacidadesTemporales != null">
    <ion-card class="positiva-card"  *ngFor="let incapacidadesTemporales of incapacidadesTemporales" >
      <button class="detalleIncapacidad" (click) = "detalleIncapacidadTemporal(incapacidadesTemporales)" style="width: 100%;"
  >
        <img src="assets/icon/arrow-forward-orange.svg" class="details-icon">

        <ion-card-header>
          <p class="color1"><strong>Fecha inicio de incapacidad</strong></p>
          <p class="color2"><strong>{{incapacidadesTemporales.fechaInicioIncapacidad }}</strong><p>
        </ion-card-header>
          <ion-card-content>
            <p class="color1"><strong>Fecha radicado
              
            </strong></p>
            <p class="color2"><strong>{{incapacidadesTemporales.fechaRadicado}}</strong></p>
          </ion-card-content>
        </button>
      </ion-card>
    </div>

    <div class="text-center" *ngIf="incapacidadesTemporales && !incapacidadesTemporales.length">
      <ion-card class="positiva-card">
        <ion-card-header>
            <strong class="color2">{{usuario.primerNombre}} {{usuario.segundoNombre}} </strong>
        </ion-card-header>
        <ion-card-content class="color2">
        No tienes incapacidades temporales
          </ion-card-content>
        </ion-card>
      </div>


      <div class="fixed-indicator" [hidden]="!scrollIndicator">
        <ion-icon name="arrow-down"></ion-icon>
      </div>
    </ion-content>
