page-citas-rehabilitacion{

//Parametros
  .titulo{
    font-weight: bold;
  }
  .referencia{
    font-size: 1.6rem;
  }

  .capitalize{
    text-transform: capitalize;
  }


  //Elementos padre
  .card{
    text-align: center;
    border-radius:4%;
  }
  .input-wrapper{
    text-align: center;
  }
  .buttonCancelar{
    border-radius: 2%;
  }

  .buttons-consulta-especializada{
    width: 100%;
    margin-top: 0;
  }




}
