<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Citas de rehabilitación
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="citasRehabilitacion  != null">
  <ion-card class="positiva-card"  *ngFor="let citasRehabilitacion of citasRehabilitacion">
    <ion-card-content class="card">
      <p class="titulo">Proveedor</p>
      <p class="referencia">{{citasRehabilitacion.proveedor}}</p>
      <p class="titulo">Especialista</p>
      <p class="referencia capitalize">{{citasRehabilitacion.especialista}}</p>
      <p class="titulo">Fecha y hora </p>
      <p class="referencia">{{citasRehabilitacion.fechaCita}}</p>
      <ion-item >
          <ion-row>
              <ion-col col-6>
                <button class="primary-button buttons-consulta-especializada"  ion-button (click) ="enviar(citasRehabilitacion.id)">Confirmar</button>
              </ion-col>
  
              <ion-col col-6 >
                <button class="secondary-button buttons-consulta-especializada"  ion-button (click)="cancelar(citasRehabilitacion.id)">Cancelar</button>
              </ion-col>
            </ion-row>
          
      </ion-item>
    </ion-card-content>

  </ion-card >
</div>
<div *ngIf="citasRehabilitacion == null">
  <ion-card class="positiva-card center">
    <ion-card-header>
        <strong class="color2">{{usuario.primerNombre}} {{usuario.segundoNombre}}</strong>
    </ion-card-header>
    <ion-card-content class="color2">
      No tienes citas de rehabilitación pendientes
      </ion-card-content>
    </ion-card>
    </div>
</ion-content>
