<ion-header>
  <ion-toolbar class="positiva-modal-toolbar">
    <ion-title>No. siniestro: {{ data.numeroSiniestro }}</ion-title>

    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="well-centered color2">
    <h1><strong>Apreciado(a) asegurado(a)</strong></h1>
    <strong><span class="color1">Fecha siniestro:</span> {{ data.fechaHoraSiniestro | date:'dd/MM/yyyy' }}</strong>
  </div>

  <p class="color2" style="text-align: center; margin: 2em 0;">
    Para realizar la solicitud de autorización médica es necesario que adjuntes los respectivos soportes.
    <br><br><br>
    No olvides enviar tu <strong>orden médica</strong> y/o <strong>historial médico</strong>
    a través de las siguientes opciones:
  </p>
  <div *ngIf="files.length==5" style="color: red;">
    Máximo de archivos alcanzado.
</div>
  <div style="text-align: center">

    <button [disabled]="files.length==5" (click)="takePhoto()" class="primary-button" ion-button  icon-right>

      Tomar foto <ion-icon name="camera"></ion-icon>
    </button>

    <button [disabled]="files.length==5" (click)="attachFiles()" class="secondary-button" ion-button icon-right>
      Agregar soporte <ion-icon name="attach"></ion-icon>
    </button>
  </div>
  
  <!-- Just to hold attachments -->
  <input #inputFiles style="display: none" (change)="onFileAttachment($event)" type="file" multiple>

  <ng-container *ngIf="files.length">
    <p class="shadowed">Soportes adjuntos (máximo {{ maxFiles }})</p>

    <ion-list>
      <ion-item *ngFor="let file of files">
        <small>{{ file.name }}</small>

        <button (click)="detachFile(file)" ion-button icon-only clear item-end small>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
   <p>{{file}}</p>
    <button (click)="sendAttachments()" ion-button clear full>Enviar</button>
  </ng-container>
</ion-content>
