<ion-content padding>
  
  
  <div class="background positiva-active-home"></div>

  <button ion-button class="back-login" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <div class="wrapper">
    <div class="logo">
      <img src="assets/icon/LogoPositivaNaranja.svg" alt="">
    </div>

      <div class ="main-container">
        <h1 class="main-title">Verificación de código</h1>
        <form [formGroup]="codeForm" (ngSubmit)="verificarCodigo()">
          <ion-item  class="custom-item form-item">
                <ion-input formControlName="codigoInput"  placeholder="Ingresa tu código" class="custom-input" 
                   name="codigo" type="number"
                 [(ngModel)]="codigo"   ></ion-input>
          </ion-item>

          <!--vAlidaciones de codigo -->

          <div class="alert alert-danger" *ngIf="codeForm.controls.codigoInput.invalid && (codeForm.controls.codigoInput.dirty || codeForm.controls.codigoInput.touched)">
            <p color="danger" ion-text *ngIf="codeForm.controls.codigoInput.errors.required">Completa el formulario</p>
            <p color="danger" ion-text *ngIf="codeForm.controls.codigoInput.errors.minlength">Código aún no se encuentra completo.</p>
            <p color="danger" ion-text *ngIf="codeForm.controls.codigoInput.errors.maxlength">Código incorrecto.</p>
          </div>


          <ion-item class="custom-item form-item">
            
            <ion-input formControlName="claveInput" placeholder="Ingresa tu nueva clave" 
            class="custom-input" 
              name="clave" type="password" [(ngModel)]="clave"
                  ></ion-input>
          </ion-item>
          <!--Validaciones de clave -->

          <div class="alert alert-danger" *ngIf="codeForm.controls.claveInput.invalid && (codeForm.controls.claveInput.dirty || codeForm.controls.claveInput.touched)">
            <p color="danger" ion-text>Clave debe contener mínimo 6 caracteres.</p>
          </div>


          <ion-item class="custom-item form-item">
                   <ion-input  formControlName="claveRepetidaInput" placeholder="Repite tu clave"  
                   class="custom-input"
                   name="claveRepetida" type="password" 
                   [(ngModel)]="claveRepetida"  ></ion-input>
          </ion-item>

      

          <div class="alert alert-danger" *ngIf="codeForm.controls.claveRepetidaInput.invalid && (codeForm.controls.claveRepetidaInput.dirty || codeForm.controls.claveRepetidaInput.touched)">
            <p color="danger" *ngIf="codeForm.controls.claveRepetidaInput.errors.minlength" ion-text >Clave debe contener mínimo 6 caracteres.</p>
            <p color="danger" *ngIf="claveRepetida!=clave" ion-text >Claves no coinciden.</p>
    
          </div>
        


          <button ion-button class="primary-button" [disabled] = "claveRepetida!=clave" >Acceder</button>
        </form>
        <div class="recuperarCodigo">
          <a  (click)="recuperarClave()">Recuperar código</a>
        </div>
      </div>
    </div>
</ion-content>
