<ion-header>
  <!-- Empty toolbar which only stay as a top span or offset :) -->
  <ion-toolbar></ion-toolbar>

  <ion-toolbar class="title-toolbar">
    Información de interés
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="toggleIndicator()">

  <ion-card class="positiva-card" *ngFor="let noticia of titulo" (click)="openInfo(noticia)">
    <ion-card-content>
      <ion-card-title>
        {{noticia.title}}
      </ion-card-title>
      <img src="assets/imgs/biciusuario_1.jpg"><!--[src]="noticia.mainImagen"-->
      <p style="margin-top: 2.5rem">
        {{noticia.description}}</p>

      </ion-card-content>
    </ion-card>

  <div class="fixed-indicator" [hidden]="!scrollIndicator">
    <ion-icon name="arrow-down"></ion-icon>
  </div>
</ion-content>
